<% include header %>

Submitted Player Data
    <table id="login">
    	<tr><td>First Name: </td>
            <td><%= Fname %></td>
        </tr>
        <tr><td>Last Name: </td>
            <td><%= Lname %></td>
        </tr>
        <tr><td>Player Number: </td>
            <td><%= PlayerNumber %></td>
        </tr>
        <tr><td>Team: </td>
            <td><%= Team %></td>
        </tr>
        <tr><td>Product: </td>
            <td><%= Product %></td>
        </tr>
        <tr><td>Year: </td>
            <td><%= Year %></td>
        </tr>
        <tr><td>Card Type: </td>
            <td><%= Type %></td>
        </tr>
        <tr><td>Card Number: </td>
            <td><%= CardNumber %></td>
        </tr>
    </table>
<% include footer %>