<% include header %>

Submitted Data
    <table id="login">
    	<tr><td>First Name: </td>
	    <td><%= Fname %></td>
		</tr>
        <tr><td>Last Name: </td>
            <td><%= Lname %></td>
        </tr>
        <tr><td>Player Number: </td>
            <td><%= PlayerNumber %></td>
        </tr>
        <tr><td>Team: </td>
            <td><%= Team %></td>
        </tr>
        <tr><td>Product: </td>
            <td><%= Product %></td>
        </tr>
        <tr><td>Year: </td>
            <td><%= Year %></td>
        </tr>
        <tr><td>Card Type: </td>
            <td><%= Type %></td>
        </tr>
        <tr><td>Card Number: </td>
            <td><%= CardNumber %></td>
        </tr>
        <tr><td>Card Image: </td>
            <td><%= Image %></td>
        </tr>
    </table>
    <ol>
       <li><a href="/">Home Page</a> - back to the home page</li>
    </ol>
<% include footer %>